/* =========================================
   SIDEBAR PRZ
   ========================================= */

.main-sidebar {
    background-color: #28a745 !important;
}

/* Logo PRZ */
.main-sidebar .brand-link {
    background-color: #28a745 !important;
    color: #ffffff !important;
}

/* Texto del logo */
.main-sidebar .brand-text {
    color: #ffffff !important;
}

/* Links principales */
.main-sidebar .nav-sidebar > .nav-item > .nav-link {
    color: #ffffff !important;
}

/* Texto */
.main-sidebar .nav-sidebar > .nav-item > .nav-link p {
    color: #ffffff !important;
}

/* Iconos */
.main-sidebar .nav-sidebar > .nav-item > .nav-link .nav-icon {
    color: #ffffff !important;
}

/* Flecha derecha */
.main-sidebar .nav-sidebar > .nav-item > .nav-link .right {
    color: #ffffff !important;
}

/* Hover */
.main-sidebar .nav-sidebar > .nav-item > .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: #ffffff !important;
}

/* Seleccionado */
.main-sidebar .nav-sidebar > .nav-item > .nav-link.active {
    background-color: rgba(255, 255, 255, 0.25) !important;
    color: #ffffff !important;
}

/* Submenús */
.main-sidebar .nav-treeview .nav-link,
.main-sidebar .nav-treeview .nav-link p,
.main-sidebar .nav-treeview .nav-icon {
    color: rgba(255, 255, 255, 0.9) !important;
}

.main-sidebar .brand-link,
.main-sidebar .brand-link.elevation-3,
.main-sidebar .brand-link.elevation-4 {
    box-shadow: none !important;
    border-bottom: none !important;
}

/* Submenú activo del sidebar */
.sidebar-dark-success .nav-sidebar > .nav-item > .nav-treeview > .nav-item > .nav-link.active,
.sidebar-light-success .nav-sidebar > .nav-item > .nav-treeview > .nav-item > .nav-link.active {
    background-color: #5bc477 !important;
    color: #ffffff !important;
}

/* Icono del submenú activo */
.nav-sidebar .nav-treeview > .nav-item > .nav-link.active .nav-icon {
    color: #ffffff !important;
}

/* ==========================================
   SIDEBAR PRZ
   ========================================== */

/* Submenú seleccionado */
.nav-sidebar .nav-treeview > .nav-item > .nav-link.active {
    background-color: #57bd73 !important;
    color: #ffffff !important;
    box-shadow: none !important;
}

/* Icono seleccionado */
.nav-sidebar .nav-treeview > .nav-item > .nav-link.active .nav-icon {
    color: #ffffff !important;
}

/* Hover */
.nav-sidebar .nav-treeview > .nav-item > .nav-link:hover {
    background-color: #45b864 !important;
    color: #ffffff !important;
}